
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>SM2解密</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script  src="../static/js/index.js"></script>
</head>
<body>
<div style="text-align:center;clear:both;">
<br/>
</div>
  <div class="wrapper">
  <div class="header-wrap">
    <h1>SM2在线加解密</h1>
  </div>
</div>

<br/><br/>

<div class='wrapper'>
  <div role='button' class='retro-btn lg'>
    <a href="/crypto/ecc/" class='btn'>
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='SM2加解密'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg primary'>
    <a href="/crypto/sm2compare/" class='btn'>
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='SM2加密效率比较'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>
<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg success'>
    <a href="/crypto/sm2sign/" class='btn'>
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='SM2数字签名'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<br/><br/>
<div style="display: inline-block; width: 30px"></div>


<div class='wrapper'>
  <div role='button' class='retro-btn lg info'>
    <a href="/crypto/sm2exchange/" class='btn'>
      <span class='btn-inner '>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="SM2密钥交换">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>
<div style="display: inline-block; width: 30px"></div>
<div class='wrapper'>
  <div role='button' class='retro-btn lg warning'>
    <a href="/crypto/security/"class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='安全性分析'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>




</body>

</html>
